<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- MySQL -->
        <property name="hibernate.connection.url">
            jdbc:mysql://localhost:3307/gymsystem?useSSL=false
        </property>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>

        <!-- Credentials -->
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">toor</property>

        <!-- Connection pool config -->
        <property name="hibernate.connection.pool_size">1</property>

        <!-- Hibernate session config -->
        <property name="hibernate.current_session_context_class">thread</property>

        <!-- Automatic schema export -->
        <property name="hibernate.hbm2ddl.auto">create-drop</property>

        <property name="hibernate.physical_naming_strategy">
            org.hibernate.boot.model.naming.CamelCaseToUnderscoresNamingStrategy
        </property>

        <!-- SQL statement logging -->
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.format_sql">false</property>
        <property name="hibernate.highlight_sql">false</property>

        <!-- Entity classes -->
        <mapping class="org.example.entity.User"/>
        <mapping class="org.example.entity.Trainee"/>
        <mapping class="org.example.entity.Trainer"/>
        <mapping class="org.example.entity.Training"/>
        <mapping class="org.example.entity.TrainingType"/>

    </session-factory>
</hibernate-configuration>