<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="APP_NAME" value="gym-system"/>
    <property name="PATH_TO_LOG_FILES" value="./logs/"/>
    <property name="HIBERNATE_SQL_FILE_NAME" value="hibernate-sql"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %date %magenta([%thread]) [tx-id: %X{transactionId}] %highlight(%-5level) %cyan(%logger{36}) -%kvp- %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${PATH_TO_LOG_FILES}${APP_NAME}.log</file>
        <encoder>
            <pattern>
                %date [%thread] [tx-id: %X{transactionId}] %-5level %logger{10} [%file:%line] -%kvp- %msg%n
            </pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${PATH_TO_LOG_FILES}${APP_NAME}.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>10</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="HIBERNATE_SQL_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${PATH_TO_LOG_FILES}${HIBERNATE_SQL_FILE_NAME}.log</file>
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [tx-id: %X{transactionId}] %-5level %logger{36} -%kvp- %msg%n
            </pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${PATH_TO_LOG_FILES}${HIBERNATE_SQL_FILE_NAME}.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <logger name="org.hibernate.SQL" level="DEBUG" additivity="false">
        <appender-ref ref="HIBERNATE_SQL_FILE"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>