<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
            crossorigin="anonymous"></script>
</head>
<body>

</body>
<script>
    console.log("Run script!");
    $.ajax({
        type: "POST",
        url: "http://localhost:8080/login",
        contentType: "application/json",
        data: JSON.stringify({
            username: "John.Doe",
            password: "123",
        }),
        dataType: "text",
        success: function (data) {
            console.log("OK!");
            console.log(data);
        },
        error: function (data) {
            console.log("ERROR!");
            console.log(data);
        }
    });
</script>
</html>